In [31]:
import io
import pandas as pd
import requests
from sklearn import preprocessing

url = "https://raw.githubusercontent.com/subashgandyer/datasets/main/great_customers.csv"

response = requests.get(url)
df = pd.read_csv(io.StringIO(response.text))
df['great_customer_class'].value_counts()

great_customer_class
0    12431
1     1168
Name: count, dtype: int64

In [32]:
df.shape
df.dropna(inplace=True)
df.shape
df

,user_id,age,workclass,salary,education_rank,marital-status,occupation,race,sex,mins_beerdrinking_year,mins_exercising_year,works_hours,tea_per_year,coffee_per_year,great_customer_class
2,1006870,21.0,private,47947.25,10,Never-married,clerical,caucasian,Female,0.0,0.0,10,442.0,276.0,0
5,1022394,26.0,private,59060.50,15,Never-married,professional,caucasian,Female,0.0,0.0,30,177.0,377.0,0
6,1026358,58.0,private,56400.75,5,Divorced,farm,not_caucasian,Male,0.0,0.0,40,11.0,98.0,0
7,1026126,23.0,private,11329.25,10,Divorced,sales,caucasian,Female,0.0,0.0,40,29.0,276.0,0
9,1024034,33.0,private,55331.00,9,Never-married,factory,not_caucasian,Female,0.0,0.0,40,375.0,77.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13589,1021023,30.0,government,56610.75,14,Married,professional,caucasian,Male,0.0,1887.0,45,259.0,351.0,1
13591,1013638,58.0,private,40742.50,10,Married,sales,caucasian,Male,0.0,1977.0,60,373.0,252.0,1
13593,1030426,51.0,private,27984.75,13,Married,professional,caucasian,Male,0.0,0.0,50,80.0,54.0,1
13597,1038013,45.0,private,25536.75,11,Divorced,executive,caucasian,Male,0.0,0.0,40,99.0,79.0,1
13598,1017676,42.0,private,57656.00,6,Never-married,trucker,caucasian,Male,0.0,0.0,40,24.0,373.0,1

In [33]:
label_encoder = preprocessing.LabelEncoder()
df['workclass_clean']= label_encoder.fit_transform(df['workclass']) 
df['marital-status_clean']= label_encoder.fit_transform(df['marital-status'])
df['occupation_clean']= label_encoder.fit_transform(df['occupation'])
df['race_clean']= label_encoder.fit_transform(df['race'])
df['sex_clean']= label_encoder.fit_transform(df['sex'])

In [34]:
df.head()

,user_id,age,workclass,salary,education_rank,marital-status,occupation,race,sex,mins_beerdrinking_year,mins_exercising_year,works_hours,tea_per_year,coffee_per_year,great_customer_class,workclass_clean,marital-status_clean,occupation_clean,race_clean,sex_clean
2,1006870,21.0,private,47947.25,10,Never-married,clerical,caucasian,Female,0.0,0.0,10,442.0,276.0,0,1,2,1,0,0
5,1022394,26.0,private,59060.50,15,Never-married,professional,caucasian,Female,0.0,0.0,30,177.0,377.0,0,1,2,8,0,0
6,1026358,58.0,private,56400.75,5,Divorced,farm,not_caucasian,Male,0.0,0.0,40,11.0,98.0,0,1,0,6,1,1
7,1026126,23.0,private,11329.25,10,Divorced,sales,caucasian,Female,0.0,0.0,40,29.0,276.0,0,1,0,9,0,0
9,1024034,33.0,private,55331.00,9,Never-married,factory,not_caucasian,Female,0.0,0.0,40,375.0,77.0,0,1,2,5,1,0

In [ ]:
df.drop['']